In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [ ]:
df = pd.read_csv('/content/filename.csv')
df.head()

   Unnamed: 0  temp(cel)  ...   district  month_index
0           0  12.571663  ...  Bhagalpur            1
1           1  16.876908  ...  Bhagalpur            1
2           2  15.775776  ...  Bhagalpur            1
3           3  12.903226  ...  Bhagalpur            1
4           4  16.829754  ...  Bhagalpur            1

[5 rows x 9 columns]

In [ ]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

   Unnamed: 0  temp(cel)  ...   district  month_index
0          18  29.173005  ...  Bhagalpur           11
1          42  26.322006  ...     chapra            9
2         425  28.735248  ...     Supaul           10
3         182  31.349318  ...       Gaya           10
4         328  16.079953  ...     Purnea            1

[5 rows x 9 columns]

In [ ]:

y =df['district']
lb = preprocessing.LabelEncoder()
y=lb.fit_transform(y)
df['district'] = y
df.head()

   Unnamed: 0  temp(cel)  ...  district  month_index
0          18  29.173005  ...         0           11
1          42  26.322006  ...        11            9
2         425  28.735248  ...        10           10
3         182  31.349318  ...         4           10
4         328  16.079953  ...         7            1

[5 rows x 9 columns]

In [ ]:
X=df[['temp(cel)','mean_windspeed(km/hr)','re_hum(%)','cloud(okta)','rain(mm)','avg._no._rainyday','district']]
y =df['month_index']
X

      temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday  district
0     29.173005               3.950765  ...                0.3         0
1     26.322006               5.611939  ...                9.0        11
2     28.735248               4.602524  ...                2.5        10
3     31.349318               4.018581  ...                2.1         4
4     16.079953               2.736255  ...                0.7         7
...         ...                    ...  ...                ...       ...
5105  15.229726               2.880747  ...                1.2        11
5106  33.471867               8.232567  ...                0.8         3
5107  21.052694               4.733295  ...                0.7         1
5108  23.752261               9.084627  ...                0.8        10
5109  32.876536               8.390085  ...               12.4         4

[5110 rows x 7 columns]

In [ ]:
y

0       11
1        9
2       10
3       10
4        1
        ..
5105     1
5106     4
5107     4
5108     4
5109     7
Name: month_index, Length: 5110, dtype: int64

In [ ]:
x_train, x_test, y_train, y_test= train_test_split(X, y, test_size= 0.25, random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier  
classifier= RandomForestClassifier(n_estimators= 10, criterion="entropy")  
classifier.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
import joblib
filename = 'month_index.csv'
joblib.dump(classifier,filename)

['month_index.csv']

In [ ]:
model = joblib.load('month_index.csv')
y_pred = model.predict(x_test)
y_pred

array([ 7,  6, 10, ..., 10,  6,  9])

In [ ]:
y_test

42       7
380      6
3524    10
352      9
4927     6
        ..
4866     9
1657     7
982     10
3679     6
4803     9
Name: month_index, Length: 1278, dtype: int64

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
# View accuracy score
score = accuracy_score(y_test, y_pred)
score

0.9835680751173709